@font-face {
    font-family: metropolisBold;
    src: url(../assets/metropolis.extra-bold.otf);
}

@font-face {
    font-family: mononoki;
    src: url(../assets/mononoki-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Arial', sans-serif;
    height: 100%;
    background-color: #f4f7fa;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
}

.navbar .logo {
    font-size: 24px;
    color: white;
    font-family: metropolisBold;
}

.navbar .user-info a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-family: mononoki;
}

.navbar .user-info a:hover {
    color: #89CC04;
}

.navbar .user-info span {
    color: #fff;
    margin-right: 15px;
}

.navbar .cart-link {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.navbar .cart-link:hover {
    color: #89CC04;
}

.filter-container {
    margin: 30px auto;
    text-align: center;
}

.sort-form {
    display: inline-block;
}

.sort-form select, .sort-form button {
    padding: 10px;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.sort-form button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

.sort-form button:hover {
    background-color: #89CC04;
}

.clothing-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.item h4 {
    font-size: 18px;
    margin: 10px 0;
    font-family: metropolisBold;
}

.item p {
    font-size: 16px;
}

.add-to-cart-btn {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
}

.add-to-cart-btn:hover {
    background-color: #89CC04;
}